

body{

    background-color: rgb(230, 230, 155);
}

i{
    cursor: pointer;
    /* transition-property: background-color; */
    /* transition-duration: 20s; */
}

i:hover{
    color: rgb(255, 0, 0);
}

img{
    border: 2px solid white;
    border-radius: 10px;
}